html, body{
    height: 100%;
    width: 100%;
    display: grid; place-items: center;

}
.todoContainer{
    height: 95%;
    width: 45%;
    background-color: #c8fafa;
    border-radius: 15px;
    padding: 15px;
    /* display: grid; */
}
ul{

    padding: 0 2% 0 2%;
}
li{
    height: 7%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    /* display: flex; align-items: center; justify-content: space-between; padding: 0 2% 0 2%; */
}

